.cls-1 {
	fill: #bec8cf;
	fill-rule: nonzero;
	filter: url(#filter);
}

.apple_copy {
	background-color: rgb(190, 200, 207);
	position: absolute;
	left: 117px;
	top: 684px;
	width: 32px;
	height: 39px;
	z-index: 6;
}
