.cls-1,
.cls-2 {
	fill: #fff;
}

.cls-1 {
	fill-opacity: 0;
	stroke: #a7b4c4;
	stroke-linejoin: round;
	stroke-width: 1px;
}

.Info_Menu {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1400px;
	height: 960px;
	z-index: 341;
}
.info_icon {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1400px;
	height: 960px;
	z-index: 340;
}
.Rectangle_4_copy_3 {
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 39px;
	top: 62px;
	width: 20px;
	height: 2px;
	z-index: 339;
}
.Rectangle_4_copy_2 {
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 39px;
	top: 57px;
	width: 17px;
	height: 2px;
	z-index: 338;
}
.Rectangle_4_copy {
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 39px;
	top: 52px;
	width: 19px;
	height: 2px;
	z-index: 337;
}
.Rectangle_4 {
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 39px;
	top: 47px;
	width: 15px;
	height: 2px;
	z-index: 336;
}
.Rounded_Rectangle_1 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 180, 196);
	border-radius: 1px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	left: 23px;
	top: 29px;
	width: 50px;
	height: 50px;
	z-index: 334;
}
